<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form (ngSubmit)="signin(f)" #f="ngForm">
            <div class="form-label-group">
                <input type="email" placeholder="Email" id="email" name="email" ngModel class="form-control form-control-lg" autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
                <input type="password" placeholder="Password" id="password" name="password" ngModel class="form-control form-control-lg">
              <label for="inputPassword">Password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>